
---
import BaseLayout from '@/layouts/BaseLayout.astro'
import AppSidebarLayout from '@/components/common/AppSidebarLayout.tsx'
import AdminFooter from '@/components/common/AdminFooter.tsx'
import UserListPage from '@/components/daftar-pengguna/UserListPage.tsx'
import ProtectedDashboard from '@/components/auth/ProtectedDashboard.tsx'
---

<BaseLayout title="Daftar Pengguna - SIM4LON">
  <ProtectedDashboard client:load allowedRoles={['ADMIN']}>
    <AppSidebarLayout client:load headerHeight="64px">
      <main class="flex-1 flex flex-col">
        <UserListPage client:idle />
        <AdminFooter />
      </main>
    </AppSidebarLayout>
  </ProtectedDashboard>
</BaseLayout>
