
---
import BaseLayout from '@/layouts/BaseLayout.astro'
import AdminHeader from '@/components/common/AdminHeader.tsx'
import AppSidebarLayout from '@/components/common/AppSidebarLayout.tsx'
import AdminFooter from '@/components/common/AdminFooter.tsx'
import DaftarPengirimanPage from '@/components/daftar-pengiriman/DaftarPengirimanPage.tsx'
import ProtectedDashboard from '@/components/auth/ProtectedDashboard.tsx'
---

<BaseLayout title="Daftar Pengiriman - SIM4LON">
  <ProtectedDashboard client:load>
    <AdminHeader client:load />
    <AppSidebarLayout client:load headerHeight="64px">
      <main class="flex-1 flex flex-col">
        <DaftarPengirimanPage client:idle />
        <AdminFooter />
      </main>
    </AppSidebarLayout>
  </ProtectedDashboard>
</BaseLayout>
