
---
import BaseLayout from '@/layouts/BaseLayout.astro'
import AdminHeader from '@/components/common/AdminHeader.tsx'
import AppSidebarLayout from '@/components/common/AppSidebarLayout.tsx'
import AdminFooter from '@/components/common/AdminFooter.tsx'
import DetailEditPangkalanContent from '@/components/detail-edit-pangkalan/DetailEditPangkalanContent.tsx'
---

<BaseLayout title="Detail & Edit Pangkalan - SIM4LON">
  <AdminHeader client:load />
  <AppSidebarLayout client:load headerHeight="64px">
    <main class="flex-1 flex flex-col">
      <DetailEditPangkalanContent client:load />
      <AdminFooter />
    </main>
  </AppSidebarLayout>
</BaseLayout>
