---
import BaseLayout from '@/layouts/BaseLayout.astro'
import AdminHeader from '@/components/common/AdminHeader.tsx'
import AppSidebarLayout from '@/components/common/AppSidebarLayout.tsx'
import AdminFooter from '@/components/common/AdminFooter.tsx'
import LpgProductsManager from '@/components/kelola-produk-lpg/LpgProductsManager.tsx'
import ProtectedDashboard from '@/components/auth/ProtectedDashboard.tsx'
---

<BaseLayout title="Kelola Produk LPG - SIM4LON">
  <ProtectedDashboard client:load allowedRoles={['ADMIN']}>
    <AdminHeader client:load />
    <AppSidebarLayout client:load headerHeight="64px">
      <main class="flex-1 flex flex-col">
        <LpgProductsManager client:load />
      </main>
      <AdminFooter />
    </AppSidebarLayout>
  </ProtectedDashboard>
</BaseLayout>
