
---
import BaseLayout from '@/layouts/BaseLayout.astro'
import AdminHeader from '@/components/common/AdminHeader.tsx'
import AppSidebarLayout from '@/components/common/AppSidebarLayout.tsx'
import AdminFooter from '@/components/common/AdminFooter.tsx'
import SettingsPage from '@/components/pengaturan/SettingsPage.tsx'
import ProtectedDashboard from '@/components/auth/ProtectedDashboard.tsx'
---

<BaseLayout title="Pengaturan - SIM4LON">
  <ProtectedDashboard client:load allowedRoles={['ADMIN']}>
    <AdminHeader client:load />
    <AppSidebarLayout client:load headerHeight="64px">
      <main class="flex-1 flex flex-col">
        <SettingsPage client:load />
        <AdminFooter />
      </main>
    </AppSidebarLayout>
  </ProtectedDashboard>
</BaseLayout>
