
---
import BaseLayout from '@/layouts/BaseLayout.astro'
import AdminHeader from '@/components/common/AdminHeader.tsx'
import AppSidebarLayout from '@/components/common/AppSidebarLayout.tsx'
import AdminFooter from '@/components/common/AdminFooter.tsx'
import TrenPenjualanPage from '@/components/tren-penjualan/TrenPenjualanPage.tsx'
import ProtectedDashboard from '@/components/auth/ProtectedDashboard.tsx'
---

<BaseLayout title="Laporan Tren Penjualan - SIM4LON">
  <ProtectedDashboard client:load>
    <AdminHeader client:load userName="Admin User" userRole="Administrator" notificationCount={3} />
    <AppSidebarLayout client:load headerHeight="64px">
      <main className="flex-1 flex flex-col">
        <TrenPenjualanPage client:idle />
        <AdminFooter />
      </main>
    </AppSidebarLayout>
  </ProtectedDashboard>
</BaseLayout>
