---
import BaseLayout from '@/layouts/BaseLayout.astro'
import PangkalanSidebarLayout from '@/components/pangkalan/PangkalanSidebarLayout.tsx'
import AdminFooter from '@/components/common/AdminFooter.tsx'
import PangkalanDashboard from '@/components/pangkalan/PangkalanDashboard.tsx'
import ProtectedDashboard from '@/components/auth/ProtectedDashboard.tsx'
---

<BaseLayout title="Dashboard Pangkalan - SIM4LON">
  <ProtectedDashboard client:load allowedRoles={['PANGKALAN']}>
    <PangkalanSidebarLayout client:load headerHeight="64px">
      <main class="flex-1 flex flex-col">
        <PangkalanDashboard client:idle />
        <AdminFooter />
      </main>
    </PangkalanSidebarLayout>
  </ProtectedDashboard>
</BaseLayout>
