---
import BaseLayout from '@/layouts/BaseLayout.astro'
import PangkalanSidebarLayout from '@/components/pangkalan/PangkalanSidebarLayout.tsx'
import AdminFooter from '@/components/common/AdminFooter.tsx'
import CatatPenjualanPage from '@/components/pangkalan/CatatPenjualanPage.tsx'
import ProtectedDashboard from '@/components/auth/ProtectedDashboard.tsx'
---

<BaseLayout title="Catat Penjualan - SIM4LON Pangkalan">
  <ProtectedDashboard client:load allowedRoles={['PANGKALAN']}>
    <PangkalanSidebarLayout client:load headerHeight="64px">
      <main class="flex-1 flex flex-col">
        <CatatPenjualanPage client:idle />
        <AdminFooter />
      </main>
    </PangkalanSidebarLayout>
  </ProtectedDashboard>
</BaseLayout>
